.file-thumbnail {
    position: relative;
    text-align: center;
    img {
        width: 100%;
        height: calc(100% - 50px);
        object-fit: cover;
    }
    &_name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    .success {
        margin: 0;
        color: green;
    }
    .failed {
        margin: 0;
        color: #f34e4e;
    }
    .icon-cancel {
        position: absolute;
        top: 0;
        right: -0.2em;
        font-size: 20px;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
