@font-face {
    font-family: 'Hanken';
    src: url('./assets/fonts/HankenBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken';
    src: url('./assets/fonts/HankenLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
