.inputDnD {
    .form-control-file {
        visibility: visible;
        background-color: transparent;
        &.font-weight-bold {
            input {
                width: 100%;
            }
            label {
                text-align: center;
                width: 100%;
                position: absolute;
                top: 45%;
            }
        }
    }
}

.file-thumbnail-wrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    grid-auto-rows: 130px;
    grid-gap: 20px;
    .image-wrapper {
        height: calc(100% - 50px);
        img {
            height: 100%;
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: flex;
        flex-wrap: wrap;
        .file-thumbnail {
            width: calc(25% - 15px);
            margin-right: 15px;
            height: 130px;
        }
    }
    @media (max-width: 480px) {
        grid-template-columns: repeat(2, calc(50% - 15px));
    }
}
