.admin-login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    > span {
        margin: 15px 0;
        color: #000;
        font-weight: 600;
    }
    form {
        display: flex;
        width: 500px;
        flex-direction: column;

        button {
            width: 100px;
            height: 30px;
            margin: 0 auto;
            background-color: #45a7b9;
            border: 1px solid #45a7b9;
            color: #fff;
            border-radius: 5px;
            font-size: 15px;
            outline: none;
            transition: 0.3s;
            &:hover {
                color: #45a7b9;
                background-color: transparent;
            }
        }
    }
}
